# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.bak

#c
*.o
#  pascal
metium.lpi
*.lpr
metium.lps
*.tpu
*.ppu
*.exe
backup/
tmp/
build/
libraries/
mmax6675/doc/MAX6675-Library-master(1).zip
*.zip
mmax6675/doc/MAX6675ISA+.pdf
mhmc/doc/29133-HMC5883L-Compass-Module-IC-Documentation-v1.0.pdf
mhmc/doc/HMC5883L_3-Axis_Digital_Compass_IC.pdf
mhmc/doc/Compass.ino